/* Media Queries  */

/* for Big Devices- i.e Laptop */

@media screen and (max-width: 991px) {

    h3 {
        font-size: 1.2 rem;
    }

    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .main-nav {
        overflow: initial;
    }

    /* .company-logo img {
        width: 80px;
    } */

    .nav-links {
        position: absolute;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .examples-area {
        gap: 20px;
    }
    .examples-card {
        width: calc(50% - 10px);
        height: 180px;
    }
    .paneltest-desc {
        max-width: 55vw;
    }
    
    .cta-section {
        padding-block: 40px;
    }
}

/* for medium devices- i.e tab */

@media screen and (max-width: 767px) {

    .primary-button {
        width: 100%;
    }

    .header-section {
        flex-direction: column-reverse;
    }

    .header-left{
        max-width: 100vw;
        text-align: center;
    }

    .features-card {
        min-width: calc(50% - 10px);
    }
    
    .big-feature-container, #second-big-feature {
        flex-direction: column;
    }

    .paneltest-area {
        flex-direction: column-reverse;
    }

    .paneltest-desc {
        max-width: 75vw;
    }

    .footer-container {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .link-column {
        align-items: center;
    }

    .card-text {
        font-size: 1.3rem;
    }

}

/* for small devices i.e mobile */

@media screen and (max-width: 479px) {

    :root {
        --padding-inline-section: 15px;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    /* .company-logo img {
        width: 70px;
    } */

    .slide-img {
        padding: 0;
    }

    .features-card {
        min-width: 100%;
    }

    .examples-card {
        width: 100%;
    }

    .paneltest-desc h4 {
        max-width: 100%;
        align-self: center;
    }

    .panel-content {
        flex-direction: column;
        gap: 0;
        align-self: center;
    }

    
}